@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}
.text-purple {
    color: #6415FF;
}

/* 
NAV 
*/
.nav__logo--link {
    display: flex;
    align-items: center;
}
.nav__logo--img {
    width: 40px;
    margin-right: 0.75rem;
}
.nav__logo--text {
    font-size: 24px;
    transition: all 300ms ease;
}

.nav__logo--text:hover {
    color: rgb(100 21 255);
}
.nav__container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    margin-right: 20px;
    color: #243E63;
    transition: all 100ms ease;
    font-weight: 500;
    padding-bottom: 5px;
}
.nav__link:hover {
    border-bottom: 3px solid rgb(100 21 255);
    color: rgb(100 21 255);
}
.nav__link:nth-child(4) {
    margin-right: 64px;
}
.nav__link--primary {
    font-weight: 500;
    color: #fff;
    background-color: rgb(100 21 255);
    padding: 12px 32px;
    border-radius: 60px;
    transition: all 300ms ease;
}
.nav__link--primary:hover {
    background-color: rgb(80 17 204);
}

/* INTRO */

#landing {
    height: 100vh;
}

.intro {
    width: 100%;
    display: flex;
}

.intro__text {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.intro__title {
    font-size: 48px;
}
.intro__subtitle {
    font-size: 18px;
    margin: 32px 0;
    color: #243E63;
}
.intro__subtitle--customer {
    color: #A0AEC0;
    font-weight: 500;
    margin-top: 80px;
}

.intro__img--wrapper {
    width: 60%;
    position: relative;
}
.intro__img {
    position: absolute;
    width: 90%;
    height: 100%;
    right: 0;
}

.customer__logo {
    width: 100%;
    margin-top: 16px;
}
.input__wrapper {
    position: relative;
    margin-bottom: 80px;
}
.input__field {
    position: absolute;
    padding: 20px 12px;
    border-radius: 999px;
    width: 100%;
    font-size: 20px;
    border: ;
}
.input__field::placeholder{
    color: lightgray;
}
.input__btn {
    position: absolute;
    width: 30%;
    padding: 20px 0;
    right: 0;
    margin: 4px;
    border-radius: 999px;
    background-color: #6415FF;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
}
.input__btn:hover{
    background-color: rgb(60 13 153);
    cursor: pointer;
}
































































